{% extends 'home/base.html' %}

{% block title %}Delete?{% endblock %}

{% block inset_graphic %}<div class="smaller_inset"></div>{% endblock %}

{% block content %}
    {% if image %}
        <h1>-- Delete {{ image.name }} --</h1>
        <h2>Are you sure you want to delete {{ image.name }}? </h2>
        <h3>This action is permanent and cannot be undone!</h3>
        <form method="post" action="{% url 'gallery:delete' image.id %}">
            {% csrf_token %}
            {{ form.is_submitted }}
            <input class="delbtn" type="submit" value="DELETE" />
        </form>
        <a href="{% url 'gallery:pictures' %}" class="btn">CANCEL</a>
    {% else %}
        <h3>invalid request</h3>
        <a href="{% url 'gallery:pictures' %}" class="btn">Return to gallery</a>
    {% endif %}

{% endblock %}