{% extends 'home/base.html' %}

{% block title %}Gallery - Pictures{% endblock %}

{% block inset_graphic %}<div class="smaller_inset"></div>{% endblock %}

{% block content %}
<div class="contentheading">Gallery pictures</div>

{% if images %}
<div style="overflow:hidden;"></div>
{% for image in images %}
<div style="width: 95%; margin:10px; padding:10px; border-radius:15px; background-color:#191919;">
    <h5 style="float: right;">{{ image.date }}</h5>
    <h2>{{ image.name.title }}</h2>
    <img id="gallery_img" src="{{ MEDIA_URL }}{{ image.image.url }}">
    <div style="padding:10px; width:70%;">
        {{ image.caption }}
    </div>
</div>

{% endfor %}
{% else %}
<p>There are no images yet.</p>
{% endif %}
{% endblock %}