{% extends 'home/base.html' %}

{% load staticfiles %}

{% block title %}2011 RMLSA Gallery{% endblock %}

{% block inset_graphic %}<div class="smaller_inset"></div>{% endblock %}


{% block content %}
    <div class="componentheading">View category RMLSA Images 2011</div>
    <div class="photos">          
        <div class="photo">
        <a href="{% static 'home/images/stories/easygallery/26/1318563596_babich-2011.jpg' %}">
        <img src="{% static 'home/images/stories/easygallery/thumbs/26/1318563596_babich-2011.jpg' %}" border="0" alt="Paul Babich" title=""><br>
        Paul Babich            </a>
        </div>
                <div class="photo">
        <a href="{% static 'home/images/stories/easygallery/26/1318563613_gieg-2011.jpg' %}">
        <img src="{% static 'home/images/stories/easygallery/thumbs/26/1318563613_gieg-2011.jpg' %}" border="0" alt="Jeff Gieg" title=""><br>
        Jeff Gieg            </a>
        </div>
                <div class="photo">
        <a href="{% static 'home/images/stories/easygallery/26/1318563630_ullery-2011.jpg' %}">
        <img src="{% static 'home/images/stories/easygallery/thumbs/26/1318563630_ullery-2011.jpg' %}" border="0" alt="Troy Ullery" title=""><br>
        Troy Ullery            </a>
        </div>
                <div class="photo">
        <a href="{% static 'home/images/stories/easygallery/26/1321203188_img_0595 (640x427).jpg' %}">
        <img src="{% static 'home/images/stories/easygallery/thumbs/26/1321203188_img_0595 (640x427).jpg' %}" border="0" alt="Steve Becker" title=""><br>
        Steve Becker            </a>
        </div>
        <br clear="all">          <div class="photo">
        <a href="{% static 'home/images/stories/easygallery/26/1321203796_img_1069 (640x427).jpg' %}">
        <img src="{% static 'home/images/stories/easygallery/thumbs/26/1321203796_img_1069 (640x427).jpg' %}" border="0" alt="Rick Marchbank" title=""><br>
        Rick Marchbank            </a>
        </div>
                <div class="photo">
        <a href="{% static 'home/images/stories/easygallery/26/1321203875_img_1615 (640x427).jpg' %}">
        <img src="{% static 'home/images/stories/easygallery/thumbs/26/1321203875_img_1615 (640x427).jpg' %}" border="0" alt="Ewen Rees" title=""><br>
        Ewen Rees            </a>
        </div>
                <div class="photo">
        <a href="{% static 'home/images/stories/easygallery/26/1321203908_img_1257 (640x427).jpg' %}">
        <img src="{% static 'home/images/stories/easygallery/thumbs/26/1321203908_img_1257 (640x427).jpg' %}" border="0" alt="Dwight Hoelscher" title=""><br>
        Dwight Hoelscher            </a>
        </div>
                <div class="photo">
        <a href="{% static 'home/images/stories/easygallery/26/1321203935_img_3410 (640x427).jpg' %}">
        <img src="{% static 'home/images/stories/easygallery/thumbs/26/1321203935_img_3410 (640x427).jpg' %}" border="0" alt="Doug Parker" title=""><br>
        Doug Parker            </a>
        </div>
        <br clear="all">          <div class="photo">
        <a href="{% static 'home/images/stories/easygallery/26/1321203967_img_3414 (640x427).jpg' %}">
        <img src="{% static 'home/images/stories/easygallery/thumbs/26/1321203967_img_3414 (640x427).jpg' %}" border="0" alt="Dale Johnston" title=""><br>
        Dale Johnston            </a>
        </div>
                <div class="photo">
        <a href="{% static 'home/images/stories/easygallery/26/1321203999_img_3429 (640x427).jpg' %}">
        <img src="{% static 'home/images/stories/easygallery/thumbs/26/1321203999_img_3429 (640x427).jpg' %}" border="0" alt="Glenn Waterland" title=""><br>
        Glenn Waterland            </a>
        </div>
                <div class="photo">
        <a href="{% static 'home/images/stories/easygallery/26/1321204028_img_3673 (640x427).jpg' %}">
        <img src="{% static 'home/images/stories/easygallery/thumbs/26/1321204028_img_3673 (640x427).jpg' %}" border="0" alt="Dave Weirich" title=""><br>
        Dave Weirich            </a>
        </div>
                <div class="photo">
        <a href="{% static 'home/images/stories/easygallery/26/1321204067_img_3408 (640x427).jpg' %}">
        <img src="{% static 'home/images/stories/easygallery/thumbs/26/1321204067_img_3408 (640x427).jpg' %}" border="0" alt="Jeff Gieg" title=""><br>
        Jeff Gieg            </a>
        </div>
        <br clear="all">          <div class="photo">
        <a href="{% static 'home/images/stories/easygallery/26/1321204092_img_3409 (640x427).jpg' %}">
        <img src="{% static 'home/images/stories/easygallery/thumbs/26/1321204092_img_3409 (640x427).jpg' %}" border="0" alt="Paul Babich" title=""><br>
        Paul Babich            </a>
        </div>
                <div class="photo">
        <a href="{% static 'home/images/stories/easygallery/26/1321204123_img_3728 (640x427).jpg' %}">
        <img src="{% static 'home/images/stories/easygallery/thumbs/26/1321204123_img_3728 (640x427).jpg' %}" border="0" alt="Troy Ullery" title=""><br>
        Troy Ullery            </a>
        </div>
                <div class="photo">
        <a href="{% static 'home/images/stories/easygallery/26/1321204153_img_3945 (640x453).jpg' %}">
        <img src="{% static 'home/images/stories/easygallery/thumbs/26/1321204153_img_3945 (640x453).jpg' %}" border="0" alt="Mike Snelling" title=""><br>
        Mike Snelling            </a>
        </div>
                <div class="photo">
        <a href="{% static 'home/images/stories/easygallery/26/1321204180_img_3722 (640x427).jpg' %}">
        <img src="{% static 'home/images/stories/easygallery/thumbs/26/1321204180_img_3722 (640x427).jpg' %}" border="0" alt="Scott Wilson" title=""><br>
        Scott Wilson            </a>
        </div>
        <br clear="all">          <div class="photo">
        <a href="{% static 'home/images/stories/easygallery/26/1321204206_img_3736 (640x427).jpg' %}">
        <img src="{% static 'home/images/stories/easygallery/thumbs/26/1321204206_img_3736 (640x427).jpg' %}" border="0" alt="Matt Martinez" title=""><br>
        Matt Martinez            </a>
        </div>
                <div class="photo">
        <a href="{% static 'home/images/stories/easygallery/26/1321204238_img_4266 (640x427).jpg' %}">
        <img src="{% static 'home/images/stories/easygallery/thumbs/26/1321204238_img_4266 (640x427).jpg' %}" border="0" alt="Frank Martinez" title=""><br>
        Frank Martinez            </a>
        </div>
                <div class="photo">
        <a href="{% static 'home/images/stories/easygallery/26/1321204263_img_3744 (640x427).jpg' %}">
        <img src="{% static 'home/images/stories/easygallery/thumbs/26/1321204263_img_3744 (640x427).jpg' %}" border="0" alt="Bill Rousch" title=""><br>
        Bill Rousch            </a>
        </div>
                <div class="photo">
        <a href="{% static 'home/images/stories/easygallery/26/1321204296_img_3746 (640x427).jpg' %}">
        <img src="{% static 'home/images/stories/easygallery/thumbs/26/1321204296_img_3746 (640x427).jpg' %}" border="0" alt="Troy Simpson" title=""><br>
        Troy Simpson            </a>
        </div>
        <br clear="all">          <div class="photo">
        <a href="{% static 'home/images/stories/easygallery/26/1321204322_img_7319 (640x427).jpg' %}">
        <img src="{% static 'home/images/stories/easygallery/thumbs/26/1321204322_img_7319 (640x427).jpg' %}" border="0" alt="Scott Wilson" title=""><br>
        Scott Wilson            </a>
        </div>
                <div class="photo">
        <a href="{% static 'home/images/stories/easygallery/26/1321204347_img_7321 (640x427).jpg' %}">
        <img src="{% static 'home/images/stories/easygallery/thumbs/26/1321204347_img_7321 (640x427).jpg' %}" border="0" alt="Chris Crowder" title=""><br>
        Chris Crowder            </a>
        </div>
                <div class="photo">
        <a href="{% static 'home/images/stories/easygallery/26/1321204396_img_7334 (640x427).jpg' %}">
        <img src="{% static 'home/images/stories/easygallery/thumbs/26/1321204396_img_7334 (640x427).jpg' %}" border="0" alt="Mike Snelling" title=""><br>
        Mike Snelling            </a>
        </div>
                <div class="photo">
        <a href="{% static 'home/images/stories/easygallery/26/1321204436_img_7335 (640x427).jpg' %}">
        <img src="{% static 'home/images/stories/easygallery/thumbs/26/1321204436_img_7335 (640x427).jpg' %}" border="0" alt="Matt Martinez" title=""><br>
        Matt Martinez            </a>
        </div>
        <br clear="all">          <div class="photo">
        <a href="{% static 'home/images/stories/easygallery/26/1321204462_img_7336 (640x427).jpg' %}">
        <img src="{% static 'home/images/stories/easygallery/thumbs/26/1321204462_img_7336 (640x427).jpg' %}" border="0" alt="Steve Becker" title=""><br>
        Steve Becker            </a>
        </div>
                <div class="photo">
        <a href="{% static 'home/images/stories/easygallery/26/1321204488_img_7337 (640x427).jpg' %}">
        <img src="{% static 'home/images/stories/easygallery/thumbs/26/1321204488_img_7337 (640x427).jpg' %}" border="0" alt="Frank Martinez" title=""><br>
        Frank Martinez            </a>
        </div>
                <div class="photo">
        <a href="{% static 'home/images/stories/easygallery/26/1321204514_img_7339 (640x427).jpg' %}">
        <img src="{% static 'home/images/stories/easygallery/thumbs/26/1321204514_img_7339 (640x427).jpg' %}" border="0" alt="Troy Simpson" title=""><br>
        Troy Simpson            </a>
        </div>
                <div class="photo">
        <a href="{% static 'home/images/stories/easygallery/26/1321204543_img_7340 (640x427).jpg' %}">
        <img src="{% static 'home/images/stories/easygallery/thumbs/26/1321204543_img_7340 (640x427).jpg' %}" border="0" alt="Brent Rees" title=""><br>
        Brent Rees            </a>
        </div>
        <br clear="all">          <div class="photo">
        <a href="{% static 'home/images/stories/easygallery/26/1321204571_img_7347 (640x427).jpg' %}">
        <img src="{% static 'home/images/stories/easygallery/thumbs/26/1321204571_img_7347 (640x427).jpg' %}" border="0" alt="Dwight Hoelscher" title=""><br>
        Dwight Hoelscher            </a>
        </div>
                <div class="photo">
        <a href="{% static 'home/images/stories/easygallery/26/1321204601_img_7348 (640x427).jpg' %}">
        <img src="{% static 'home/images/stories/easygallery/thumbs/26/1321204601_img_7348 (640x427).jpg' %}" border="0" alt="Auston Pribbenow" title=""><br>
        Auston Pribbenow            </a>
        </div>
                <div class="photo">
        <a href="{% static 'home/images/stories/easygallery/26/1321204630_img_7353 (640x427).jpg' %}">
        <img src="{% static 'home/images/stories/easygallery/thumbs/26/1321204630_img_7353 (640x427).jpg' %}" border="0" alt="Glenn Waterland" title=""><br>
        Glenn Waterland            </a>
        </div>
                <div class="photo">
        <a href="{% static 'home/images/stories/easygallery/26/1321204691_img_7355 (640x427).jpg' %}">
        <img src="{% static 'home/images/stories/easygallery/thumbs/26/1321204691_img_7355 (640x427).jpg' %}" border="0" alt="Ryan Dardano" title=""><br>
        Ryan Dardano            </a>
        </div>
        <br clear="all">          <div class="photo">
        <a href="{% static 'home/images/stories/easygallery/26/1321204720_img_7358 (640x427).jpg' %}">
        <img src="{% static 'home/images/stories/easygallery/thumbs/26/1321204720_img_7358 (640x427).jpg' %}" border="0" alt="Bill Rousch" title=""><br>
        Bill Rousch            </a>
        </div>
                <div class="photo">
        <a href="{% static 'home/images/stories/easygallery/26/1321204762_img_7375 (640x427).jpg' %}">
        <img src="{% static 'home/images/stories/easygallery/thumbs/26/1321204762_img_7375 (640x427).jpg' %}" border="0" alt="Rick Marchbank" title=""><br>
        Rick Marchbank            </a>
        </div>
                <div class="photo">
        <a href="{% static 'home/images/stories/easygallery/26/1321204851_img_6460 (640x427).jpg' %}">
        <img src="{% static 'home/images/stories/easygallery/thumbs/26/1321204851_img_6460 (640x427).jpg' %}" border="0" alt="Jay Sant" title=""><br>
        Jay Sant            </a>
        </div>
                <div class="photo">
        <a href="{% static 'home/images/stories/easygallery/26/1321204884_img_6476 (640x427).jpg' %}">
        <img src="{% static 'home/images/stories/easygallery/thumbs/26/1321204884_img_6476 (640x427).jpg' %}" border="0" alt="Shane Stanley" title=""><br>
        Shane Stanley            </a>
        </div>
        <br clear="all">          <div class="photo">
        <a href="{% static 'home/images/stories/easygallery/26/1321204909_img_6806 (640x405).jpg' %}">
        <img src="{% static 'home/images/stories/easygallery/thumbs/26/1321204909_img_6806 (640x405).jpg' %}" border="0" alt="Brandon Steele" title=""><br>
        Brandon Steele            </a>
        </div>
                <div class="photo">
        <a href="{% static 'home/images/stories/easygallery/26/1321204934_img_0576 (640x427).jpg' %}">
        <img src="{% static 'home/images/stories/easygallery/thumbs/26/1321204934_img_0576 (640x427).jpg' %}" border="0" alt="Brent Rees" title=""><br>
        Brent Rees            </a>
        </div>
                <div class="photo">
        <a href="{% static 'home/images/stories/easygallery/26/1321204963_img_0581 (640x427).jpg' %}">
        <img src="{% static 'home/images/stories/easygallery/thumbs/26/1321204963_img_0581 (640x427).jpg' %}" border="0" alt="Doug Johnson" title=""><br>
        Doug Johnson            </a>
        </div>
                <div class="photo">
        <a href="{% static 'home/images/stories/easygallery/26/1321204987_img_0582 (640x394).jpg' %}">
        <img src="{% static 'home/images/stories/easygallery/thumbs/26/1321204987_img_0582 (640x394).jpg' %}" border="0" alt="Brandon Steele" title=""><br>
        Brandon Steele            </a>
        </div>
        <br clear="all">          <div class="photo">
        <a href="{% static 'home/images/stories/easygallery/26/1321205004_img_0594 (640x427).jpg' %}">
        <img src="{% static 'home/images/stories/easygallery/thumbs/26/1321205004_img_0594 (640x427).jpg' %}" border="0" alt="Jay Sant" title=""><br>
        Jay Sant            </a>
        </div>
                <div class="photo">
        <a href="{% static 'home/images/stories/easygallery/26/1321205031_img_0596 (640x427).jpg' %}">
        <img src="{% static 'home/images/stories/easygallery/thumbs/26/1321205031_img_0596 (640x427).jpg' %}" border="0" alt="Tim Snelling" title=""><br>
        Tim Snelling            </a>
        </div>
                <div class="photo">
        <a href="{% static 'home/images/stories/easygallery/26/1321205061_img_0600 (640x427).jpg' %}">
        <img src="{% static 'home/images/stories/easygallery/thumbs/26/1321205061_img_0600 (640x427).jpg' %}" border="0" alt="Ryan Dardano" title=""><br>
        Ryan Dardano            </a>
        </div>
                <div class="photo">
        <a href="{% static 'home/images/stories/easygallery/26/1321205089_img_2381 (640x427).jpg' %}">
        <img src="{% static 'home/images/stories/easygallery/thumbs/26/1321205089_img_2381 (640x427).jpg' %}" border="0" alt="Todd Weland" title=""><br>
        Todd Weland            </a>
        </div>
        <br clear="all">          <div class="photo">
        <a href="{% static 'home/images/stories/easygallery/26/1321205633_img_7377 (640x427).jpg' %}">
        <img src="{% static 'home/images/stories/easygallery/thumbs/26/1321205633_img_7377 (640x427).jpg' %}" border="0" alt="Doug Parker" title=""><br>
        Doug Parker            </a>
        </div>
        <br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all">      </div>
{% endblock %}"        