{% extends 'home/base.html' %}

{% load staticfiles %}
        
{% block title %}2012 RMLSA Gallery{% endblock %}

{% block inset_graphic %}<div class="smaller_inset"></div>{% endblock %}

{% block content %}
            <div class="componentheading">View category RMLSA Images 2012</div>
            <div class="photos">
                <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=253&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1328073828_dsc00010 (640x480).jpg' %}" border="0" alt="Trade Show 1" title="" /><br />
                Trade Show 1            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=254&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1328073856_dsc00011 (640x480).jpg' %}" border="0" alt="Trade Show 2" title="" /><br />
                Trade Show 2            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=255&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1328073877_dsc00012 (640x480).jpg' %}" border="0" alt="Trade Show 3" title="" /><br />
                Trade Show 3            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=256&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1328073905_dsc00014 (640x480).jpg' %}" border="0" alt="Tradeshow 3" title="" /><br />
                Tradeshow 3            </a>
                </div>
                <br clear="all" />          <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=257&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1328073926_dsc00015 (640x480).jpg' %}" border="0" alt="Tradeshow 4" title="" /><br />
                Tradeshow 4            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=258&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1328073950_dsc00016 (640x480).jpg' %}" border="0" alt="Tradeshow 5" title="" /><br />
                Tradeshow 5            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=260&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1350532612_img_2969 640x480.jpg' %}" border="0" alt="Brent Rees I-76 Non Wing" title="" /><br />
                Brent Rees I-76 Non Wing            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=261&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1350537030_img_0071 640x480.jpg' %}" border="0" alt="Scott Wilson I-76 Wing" title="" /><br />
                Scott Wilson I-76 Wing            </a>
                </div>
                <br clear="all" />          <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=262&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1350537227_img_0105 640x480.jpg' %}" border="0" alt="Shane Stanley I-76 Wing" title="" /><br />
                Shane Stanley I-76 Wing            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=263&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1350537280_img_0717 640x480.jpg' %}" border="0" alt="Brandon Steele I-76 Non Wing" title="" /><br />
                Brandon Steele I-76 Non Wing            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=264&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1350537380_img_0721 640x480.jpg' %}" border="0" alt="Auston Pribbenow I-76 Non Wing" title="" /><br />
                Auston Pribbenow I-76 Non Wing            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=265&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1350612146_img_0725 640x480.jpg' %}" border="0" alt="Troy Simpson I-76 Non Wing" title="" /><br />
                Troy Simpson I-76 Non Wing            </a>
                </div>
                <br clear="all" />          <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=266&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1350612181_img_0726 640x480.jpg' %}" border="0" alt="Scott Heikes I-76 Non Wing" title="" /><br />
                Scott Heikes I-76 Non Wing            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=267&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1350612233_img_0727 640x480.jpg' %}" border="0" alt="Scott Wilson I-76 Non Wing" title="" /><br />
                Scott Wilson I-76 Non Wing            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=268&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1350612282_img_1318 640x480.jpg' %}" border="0" alt="Chris Crowder I-76 Non Wing" title="" /><br />
                Chris Crowder I-76 Non Wing            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=269&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1350612330_img_2461 640x480.jpg' %}" border="0" alt="Jeff Gieg I-76 Non Wing" title="" /><br />
                Jeff Gieg I-76 Non Wing            </a>
                </div>
                <br clear="all" />          <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=270&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1350612382_img_2467 640x480.jpg' %}" border="0" alt="Bill Rousch I-76 Non Wing" title="" /><br />
                Bill Rousch I-76 Non Wing            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=271&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1350612428_img_2491 640x480.jpg' %}" border="0" alt="Tim Snelling I-76 Non Wing" title="" /><br />
                Tim Snelling I-76 Non Wing            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=272&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1350612469_img_2498 640x480.jpg' %}" border="0" alt="Nic Sutton I-76 Non Wing" title="" /><br />
                Nic Sutton I-76 Non Wing            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=273&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1350612506_img_2917 640x480.jpg' %}" border="0" alt="Frank Martinez I-76 Non Wing" title="" /><br />
                Frank Martinez I-76 Non Wing            </a>
                </div>
                <br clear="all" />          <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=274&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1350612538_img_2919 640x480.jpg' %}" border="0" alt="Sammy Gallo I-76 Non Wing" title="" /><br />
                Sammy Gallo I-76 Non Wing            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=275&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1350612580_img_2924 640x480.jpg' %}" border="0" alt="Mike Snelling I-76 Non Wing" title="" /><br />
                Mike Snelling I-76 Non Wing            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=276&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1350612616_img_2931 640x480.jpg' %}" border="0" alt="Paul Babich I-76 Non Wing" title="" /><br />
                Paul Babich I-76 Non Wing            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=277&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1350612665_img_2946 640x480.jpg' %}" border="0" alt="Rick Marchbank I-76 Non Wing" title="" /><br />
                Rick Marchbank I-76 Non Wing            </a>
                </div>
                <br clear="all" />          <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=278&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1350612710_img_2951 640x480.jpg' %}" border="0" alt="Glenn Waterland I-76 Non Wing" title="" /><br />
                Glenn Waterland I-76 Non Wing            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=279&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1350612745_img_2955 640x480.jpg' %}" border="0" alt="Jeremiah Curtis I-76 Non Wing" title="" /><br />
                Jeremiah Curtis I-76 Non Wing            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=364&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/28/1360730812_2012 rmlsa driver of the year.jpg' %}" border="0" alt="2012 rmlsa driver of the year.jpg' %}" title="" /><br />
                2012 rmlsa driver of the year.jpg            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=365&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/28/1360730824_2012 rmlsa best looking car.jpg' %}" border="0" alt="2012 rmlsa best looking car.jpg' %}" title="" /><br />
                2012 rmlsa best looking car.jpg            </a>
                </div>
                <br clear="all" />          <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=280&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1350612876_img_3400 640x480.jpg' %}" border="0" alt="Brent Rees I-76 Non Wing 2" title="" /><br />
                Brent Rees I-76 Non Wing 2            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=281&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1350612908_img_3404 640x480.jpg' %}" border="0" alt="Troy Ullery I-76 Non Wing" title="" /><br />
                Troy Ullery I-76 Non Wing            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=282&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1350612963_img_4604 640x480.jpg' %}" border="0" alt="Bill Rousch I-76 Wing" title="" /><br />
                Bill Rousch I-76 Wing            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=283&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1350613020_img_6696 640x480.jpg' %}" border="0" alt="Shane Stanley I-76 Non Wing" title="" /><br />
                Shane Stanley I-76 Non Wing            </a>
                </div>
                <br clear="all" />          <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=284&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1350613058_img_7964 640x480.jpg' %}" border="0" alt="Jarrell Hendrix I-76 Non Wing" title="" /><br />
                Jarrell Hendrix I-76 Non Wing            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=285&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1350613092_img_8120 640x480.jpg' %}" border="0" alt="Ryan Dardano I-76 Non Wing" title="" /><br />
                Ryan Dardano I-76 Non Wing            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=286&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1350613128_img_8140 640x480.jpg' %}" border="0" alt="Dale Johnston I-76 Non Wing" title="" /><br />
                Dale Johnston I-76 Non Wing            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=287&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1350613211_img_9621 640x480.jpg' %}" border="0" alt="Troy Ullery I-76 Wing" title="" /><br />
                Troy Ullery I-76 Wing            </a>
                </div>
                <br clear="all" />          <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=288&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1350613242_img_9622 640x480.jpg' %}" border="0" alt="Steve Becker I-76 Wing" title="" /><br />
                Steve Becker I-76 Wing            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=289&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1350613278_img_9658 640x480.jpg' %}" border="0" alt="Glenn Waterland I-76 Wing" title="" /><br />
                Glenn Waterland I-76 Wing            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=290&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1350613316_img_9668 640x480.jpg' %}" border="0" alt="Nic Sutton I-76 Wing" title="" /><br />
                Nic Sutton I-76 Wing            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=291&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1350613353_img_9674 640x480.jpg' %}" border="0" alt="Rick Marchbank I-76 Wing" title="" /><br />
                Rick Marchbank I-76 Wing            </a>
                </div>
                <br clear="all" />          <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=292&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1350613430_img_9676 640x480.jpg' %}" border="0" alt="Auston Pribbenow I-76 Wing" title="" /><br />
                Auston Pribbenow I-76 Wing            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=293&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1350613465_img_9686 640x480.jpg' %}" border="0" alt="Paul Babich I-76 Wing" title="" /><br />
                Paul Babich I-76 Wing            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=294&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1350613500_img_9692 640x480.jpg' %}" border="0" alt="Mike Snelling I-76 Wing" title="" /><br />
                Mike Snelling I-76 Wing            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=295&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1350613538_img_9707 640x480.jpg' %}" border="0" alt="Jarrell Hendrix I-76 Wing" title="" /><br />
                Jarrell Hendrix I-76 Wing            </a>
                </div>
                <br clear="all" />          <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=296&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1350613573_img_9712 640x480.jpg' %}" border="0" alt="Brent Rees I-76 Wing" title="" /><br />
                Brent Rees I-76 Wing            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=297&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1350613612_img_9713 640x480.jpg' %}" border="0" alt="Troy Simpson I-76 Wing" title="" /><br />
                Troy Simpson I-76 Wing            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=298&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1350613648_img_9720 640x480.jpg' %}" border="0" alt="Tim Snelling I-76 Wing" title="" /><br />
                Tim Snelling I-76 Wing            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=299&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1350613676_img_9722 640x480.jpg' %}" border="0" alt="Jeff Gieg I-76 Wing" title="" /><br />
                Jeff Gieg I-76 Wing            </a>
                </div>
                <br clear="all" />          <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=300&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1351482678_awards.jpg' %}" border="0" alt="awards.jpg' %}" title="" /><br />
                awards.jpg            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=301&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1351482790_babich.jpg' %}" border="0" alt="babich.jpg' %}" title="" /><br />
                babich.jpg            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=302&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1351482803_babich1.jpg' %}" border="0" alt="babich1.jpg' %}" title="" /><br />
                babich1.jpg            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=303&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1351482813_babich2.jpg' %}" border="0" alt="babich2.jpg' %}" title="" /><br />
                babich2.jpg            </a>
                </div>
                <br clear="all" />          <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=304&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1351482823_babich3.jpg' %}" border="0" alt="babich3.jpg' %}" title="" /><br />
                babich3.jpg            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=305&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1351482837_becker.jpg' %}" border="0" alt="becker.jpg' %}" title="" /><br />
                becker.jpg            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=306&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1351482847_becker1.jpg' %}" border="0" alt="becker1.jpg' %}" title="" /><br />
                becker1.jpg            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=307&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1351482860_becker_ullery.jpg' %}" border="0" alt="becker_ullery.jpg' %}" title="" /><br />
                becker_ullery.jpg            </a>
                </div>
                <br clear="all" />          <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=308&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1351482883_heikes.jpg' %}" border="0" alt="heikes.jpg' %}" title="" /><br />
                heikes.jpg            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=309&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1351482896_heikes1.jpg' %}" border="0" alt="heikes1.jpg' %}" title="" /><br />
                heikes1.jpg            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=310&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1351482910_heikes_marchbank.jpg' %}" border="0" alt="heikes_marchbank.jpg' %}" title="" /><br />
                heikes_marchbank.jpg            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=311&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1351482924_hendrix.jpg' %}" border="0" alt="hendrix.jpg' %}" title="" /><br />
                hendrix.jpg            </a>
                </div>
                <br clear="all" />          <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=312&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1351482939_marchbank.jpg' %}" border="0" alt="marchbank.jpg' %}" title="" /><br />
                marchbank.jpg            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=313&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1351482957_mike snelling.jpg' %}" border="0" alt="mike snelling.jpg' %}" title="" /><br />
                mike snelling.jpg            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=314&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1351482974_perfect attendance.jpg' %}" border="0" alt="perfect attendance.jpg' %}" title="" /><br />
                perfect attendance.jpg            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=315&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1351482992_pribbenow.jpg' %}" border="0" alt="pribbenow.jpg' %}" title="" /><br />
                pribbenow.jpg            </a>
                </div>
                <br clear="all" />          <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=316&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1351483006_pribbenow1.jpg' %}" border="0" alt="pribbenow1.jpg' %}" title="" /><br />
                pribbenow1.jpg            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=317&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1351483020_pribbenow2.jpg' %}" border="0" alt="pribbenow2.jpg' %}" title="" /><br />
                pribbenow2.jpg            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=318&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1351483033_pribbenow3.jpg' %}" border="0" alt="pribbenow3.jpg' %}" title="" /><br />
                pribbenow3.jpg            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=319&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1351483046_rees.jpg' %}" border="0" alt="rees.jpg' %}" title="" /><br />
                rees.jpg            </a>
                </div>
                <br clear="all" />          <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=320&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1351483058_rees1.jpg' %}" border="0" alt="rees1.jpg' %}" title="" /><br />
                rees1.jpg            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=321&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1351483069_rees2.jpg' %}" border="0" alt="rees2.jpg' %}" title="" /><br />
                rees2.jpg            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=322&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1351483080_rees2.jpg' %}" border="0" alt="rees2.jpg' %}" title="" /><br />
                rees2.jpg            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=323&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1351483093_rees3.jpg' %}" border="0" alt="rees3.jpg' %}" title="" /><br />
                rees3.jpg            </a>
                </div>
                <br clear="all" />          <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=324&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1351483104_rees4.jpg' %}" border="0" alt="rees4.jpg' %}" title="" /><br />
                rees4.jpg            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=325&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1351483117_rees_stanley.jpg' %}" border="0" alt="rees_stanley.jpg' %}" title="" /><br />
                rees_stanley.jpg            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=326&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1351483131_simpson.jpg' %}" border="0" alt="simpson.jpg' %}" title="" /><br />
                simpson.jpg            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=327&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1351483142_simpson1.jpg' %}" border="0" alt="simpson1.jpg' %}" title="" /><br />
                simpson1.jpg            </a>
                </div>
                <br clear="all" />          <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=328&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1351483154_snelling_johnston.jpg' %}" border="0" alt="snelling_johnston.jpg' %}" title="" /><br />
                snelling_johnston.jpg            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=329&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1351483165_stanley.jpg' %}" border="0" alt="stanley.jpg' %}" title="" /><br />
                stanley.jpg            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=330&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1351483175_stanley1.jpg' %}" border="0" alt="stanley1.jpg' %}" title="" /><br />
                stanley1.jpg            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=331&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1351483186_stanley2.jpg' %}" border="0" alt="stanley2.jpg' %}" title="" /><br />
                stanley2.jpg            </a>
                </div>
                <br clear="all" />          <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=332&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1351483196_steve becker.jpg' %}" border="0" alt="steve becker.jpg' %}" title="" /><br />
                steve becker.jpg            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=333&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1351483208_tim snelling.jpg' %}" border="0" alt="tim snelling.jpg' %}" title="" /><br />
                tim snelling.jpg            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=334&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1351483221_waterland.jpg' %}" border="0" alt="waterland.jpg' %}" title="" /><br />
                waterland.jpg            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=335&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1351483233_waterland1.jpg' %}" border="0" alt="waterland1.jpg' %}" title="" /><br />
                waterland1.jpg            </a>
                </div>
                <br clear="all" />          <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=336&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1351483246_waterland2.jpg' %}" border="0" alt="waterland2.jpg' %}" title="" /><br />
                waterland2.jpg            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=363&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1360730799_2012 rmlsa most improved.jpg' %}" border="0" alt="2012 rmlsa most improved.jpg' %}" title="" /><br />
                2012 rmlsa most improved.jpg            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=366&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1360732200_2012 rmlsa 2nd place.jpg' %}" border="0" alt="2012 rmlsa 2nd place.jpg' %}" title="" /><br />
                2012 rmlsa 2nd place.jpg            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=367&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1360732224_2012 rmlsa champion.jpg' %}" border="0" alt="2012 rmlsa champion.jpg' %}" title="" /><br />
                2012 rmlsa champion.jpg            </a>
                </div>
                <br clear="all" />          <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=368&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1360732889_2012 rmlsa 4th place.jpg' %}" border="0" alt="2012 rmlsa 4th place.jpg' %}" title="" /><br />
                2012 rmlsa 4th place.jpg            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=369&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1360732909_2012 rmlsa 5th place.jpg' %}" border="0" alt="2012 rmlsa 5th place.jpg' %}" title="" /><br />
                2012 rmlsa 5th place.jpg            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=370&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1360732926_2012 rmlsa 6th place.jpg' %}" border="0" alt="2012 rmlsa 6th place.jpg' %}" title="" /><br />
                2012 rmlsa 6th place.jpg            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=371&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1360732937_2012 rmlsa 7th place.jpg' %}" border="0" alt="2012 rmlsa 7th place.jpg' %}" title="" /><br />
                2012 rmlsa 7th place.jpg            </a>
                </div>
                <br clear="all" />          <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=372&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1360732948_2012 rmlsa 8th place.jpg' %}" border="0" alt="2012 rmlsa 8th place.jpg' %}" title="" /><br />
                2012 rmlsa 8th place.jpg            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=373&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1360732959_2012 rmlsa 9th place.jpg' %}" border="0" alt="2012 rmlsa 9th place.jpg' %}" title="" /><br />
                2012 rmlsa 9th place.jpg            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=374&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1360732972_2012 rmlsa 10th place.jpg' %}" border="0" alt="2012 rmlsa 10th place.jpg' %}" title="" /><br />
                2012 rmlsa 10th place.jpg            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=375&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1360732985_2012 rmlsa 11th place.jpg' %}" border="0" alt="2012 rmlsa 11th place.jpg' %}" title="" /><br />
                2012 rmlsa 11th place.jpg            </a>
                </div>
                <br clear="all" />          <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=376&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1360732996_2012 rmlsa 12th place.jpg' %}" border="0" alt="2012 rmlsa 12th place.jpg' %}" title="" /><br />
                2012 rmlsa 12th place.jpg            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=377&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1360733008_2012 rmlsa 13h place.jpg' %}" border="0" alt="2012 rmlsa 13h place.jpg' %}" title="" /><br />
                2012 rmlsa 13h place.jpg            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=378&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1360733020_2012 rmlsa 14th place.jpg' %}" border="0" alt="2012 rmlsa 14th place.jpg' %}" title="" /><br />
                2012 rmlsa 14th place.jpg            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=379&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1360733032_2012 rmlsa 15th place.jpg' %}" border="0" alt="2012 rmlsa 15th place.jpg' %}" title="" /><br />
                2012 rmlsa 15th place.jpg            </a>
                </div>
                <br clear="all" />          <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=380&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1360733043_2012 rmlsa 16th place.jpg' %}" border="0" alt="2012 rmlsa 16th place.jpg' %}" title="" /><br />
                2012 rmlsa 16th place.jpg            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=381&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1360733053_2012 rmlsa 17th place.jpg' %}" border="0" alt="2012 rmlsa 17th place.jpg' %}" title="" /><br />
                2012 rmlsa 17th place.jpg            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=382&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1360733064_2012 rmlsa 18th place.jpg' %}" border="0" alt="2012 rmlsa 18th place.jpg' %}" title="" /><br />
                2012 rmlsa 18th place.jpg            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=383&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1360733077_2012 rmlsa 19th place.jpg' %}" border="0" alt="2012 rmlsa 19th place.jpg' %}" title="" /><br />
                2012 rmlsa 19th place.jpg            </a>
                </div>
                <br clear="all" />          <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=384&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1360733087_2012 rmlsa 20th place.jpg' %}" border="0" alt="2012 rmlsa 20th place.jpg' %}" title="" /><br />
                2012 rmlsa 20th place.jpg            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=385&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1360733096_2012 rmlsa 21st place.jpg' %}" border="0" alt="2012 rmlsa 21st place.jpg' %}" title="" /><br />
                2012 rmlsa 21st place.jpg            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=386&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1360733108_2012 rmlsa 22nd place.jpg' %}" border="0" alt="2012 rmlsa 22nd place.jpg' %}" title="" /><br />
                2012 rmlsa 22nd place.jpg            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=387&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1360733121_2012 rmlsa 23rd place.jpg' %}" border="0" alt="2012 rmlsa 23rd place.jpg' %}" title="" /><br />
                2012 rmlsa 23rd place.jpg            </a>
                </div>
                <br clear="all" />          <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=388&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1360734695_2012 rmlsa 24th place.jpg' %}" border="0" alt="2012 rmlsa 24th place.jpg' %}" title="" /><br />
                2012 rmlsa 24th place.jpg            </a>
                </div>
                        <div class="photo">
                <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=389&amp;Itemid=39">
                <img src="{% static 'home/images/stories/easygallery/thumbs/27/1360734714_2012 rmlsa 25th place.jpg' %}" border="0" alt="2012 rmlsa 25th place.jpg' %}" title="" /><br />
                2012 rmlsa 25th place.jpg            </a>
                </div>
                <br clear="all" /><br clear="all" /><br clear="all" /><br clear="all" />
                <br clear="all" /><br clear="all" /><br clear="all" /><br clear="all" />
                <br clear="all" /><br clear="all" /><br clear="all" /><br clear="all" />
                <br clear="all" /><br clear="all" /><br clear="all" /><br clear="all" />
                <br clear="all" /><br clear="all" /><br clear="all" /><br clear="all" />
                <br clear="all" /><br clear="all" /><br clear="all" />
            <br><br>
    <div class="componentheading">2012 Tulsa Shootout</div>

            <div class="photo">
        <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=337&amp;Itemid=67">
        <img src="http://rmlsa.com/images/stories/easygallery/thumbs/28/1357702591_cimg1009.jpg" border="0" alt="TULSA1" title=""><br>
        TULSA1</a>
        </div>
    <div class="photo">
        <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=338&amp;Itemid=67">
        <img src="http://rmlsa.com/images/stories/easygallery/thumbs/28/1357703288_cimg1023.jpg" border="0" alt="cimg1023.jpg" title=""><br>
        cimg1023.jpg</a>
        </div>
    <div class="photo">
        <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=355&amp;Itemid=67">
        <img src="http://rmlsa.com/images/stories/easygallery/thumbs/28/1357703615_dsc00397.jpg" border="0" alt="dsc00397.jpg" title=""><br>
        dsc00397.jpg</a>
        </div>
    <div class="photo">
        <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=356&amp;Itemid=67">
        <img src="http://rmlsa.com/images/stories/easygallery/thumbs/28/1357703634_dsc00397.jpg" border="0" alt="dsc00397.jpg" title=""><br>
        dsc00397.jpg</a>
        </div>
        <br clear="all">          <div class="photo">
        <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=357&amp;Itemid=67">
        <img src="http://rmlsa.com/images/stories/easygallery/thumbs/28/1357703651_dsc00398.jpg" border="0" alt="dsc00398.jpg" title=""><br>
        dsc00398.jpg</a>
        </div>
    <div class="photo">
        <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=358&amp;Itemid=67">
        <img src="http://rmlsa.com/images/stories/easygallery/thumbs/28/1357703684_dsc00399.jpg" border="0" alt="dsc00399.jpg" title=""><br>
        dsc00399.jpg</a>
        </div>
    <div class="photo">
        <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=359&amp;Itemid=67">
        <img src="http://rmlsa.com/images/stories/easygallery/thumbs/28/1357703700_dsc00400.jpg" border="0" alt="dsc00400.jpg" title=""><br>
        dsc00400.jpg</a>
        </div>
    <div class="photo">
        <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=360&amp;Itemid=67">
        <img src="http://rmlsa.com/images/stories/easygallery/thumbs/28/1357703715_dsc00401.jpg" border="0" alt="dsc00401.jpg" title=""><br>
        dsc00401.jpg</a>
        </div>
        <br clear="all">          <div class="photo">
        <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=361&amp;Itemid=67">
        <img src="http://rmlsa.com/images/stories/easygallery/thumbs/28/1357703739_dsc00404.jpg" border="0" alt="dsc00404.jpg" title=""><br>
        dsc00404.jpg</a>
        </div>
    <div class="photo">
        <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=362&amp;Itemid=67">
        <img src="http://rmlsa.com/images/stories/easygallery/thumbs/28/1357703755_dsc00405.jpg" border="0" alt="dsc00405.jpg" title=""><br>
        dsc00405.jpg</a>
        </div>
    <div class="photo">
        <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=354&amp;Itemid=67">
        <img src="http://rmlsa.com/images/stories/easygallery/thumbs/27/1357703579_dsc00396.jpg" border="0" alt="dsc00396.jpg" title=""><br>
        dsc00396.jpg</a>
        </div>
    <div class="photo">
        <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=339&amp;Itemid=67">
        <img src="http://rmlsa.com/images/stories/easygallery/thumbs/27/1357703305_cimg1027.jpg" border="0" alt="cimg1027.jpg" title=""><br>
        cimg1027.jpg</a>
        </div>
        <br clear="all">          <div class="photo">
        <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=340&amp;Itemid=67">
        <img src="http://rmlsa.com/images/stories/easygallery/thumbs/27/1357703323_dsc00375.jpg" border="0" alt="dsc00375.jpg" title=""><br>
        dsc00375.jpg</a>
        </div>
    <div class="photo">
        <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=341&amp;Itemid=67">
        <img src="http://rmlsa.com/images/stories/easygallery/thumbs/27/1357703345_dsc00376.jpg" border="0" alt="dsc00376.jpg" title=""><br>
        dsc00376.jpg</a>
        </div>
    <div class="photo">
        <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=342&amp;Itemid=67">
        <img src="http://rmlsa.com/images/stories/easygallery/thumbs/27/1357703372_dsc00376.jpg" border="0" alt="dsc00376.jpg" title=""><br>
        dsc00376.jpg</a>
        </div>
    <div class="photo">
        <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=343&amp;Itemid=67">
        <img src="http://rmlsa.com/images/stories/easygallery/thumbs/27/1357703388_dsc00377.jpg" border="0" alt="dsc00377.jpg" title=""><br>
        dsc00377.jpg</a>
        </div>
        <br clear="all">          <div class="photo">
        <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=344&amp;Itemid=67">
        <img src="http://rmlsa.com/images/stories/easygallery/thumbs/27/1357703404_dsc00378.jpg" border="0" alt="dsc00378.jpg" title=""><br>
        dsc00378.jpg</a>
        </div>
    <div class="photo">
        <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=345&amp;Itemid=67">
        <img src="http://rmlsa.com/images/stories/easygallery/thumbs/27/1357703419_dsc00381.jpg" border="0" alt="dsc00381.jpg" title=""><br>
        dsc00381.jpg</a>
        </div>
    <div class="photo">
        <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=346&amp;Itemid=67">
        <img src="http://rmlsa.com/images/stories/easygallery/thumbs/27/1357703436_dsc00382.jpg" border="0" alt="dsc00382.jpg" title=""><br>
        dsc00382.jpg</a>
        </div>
    <div class="photo">
        <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=347&amp;Itemid=67">
        <img src="http://rmlsa.com/images/stories/easygallery/thumbs/27/1357703450_dsc00383.jpg" border="0" alt="dsc00383.jpg" title=""><br>
        dsc00383.jpg</a>
        </div>
        <br clear="all">          <div class="photo">
        <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=348&amp;Itemid=67">
        <img src="http://rmlsa.com/images/stories/easygallery/thumbs/27/1357703465_dsc00384.jpg" border="0" alt="dsc00384.jpg" title=""><br>
        dsc00384.jpg</a>
        </div>
    <div class="photo">
        <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=349&amp;Itemid=67">
        <img src="http://rmlsa.com/images/stories/easygallery/thumbs/27/1357703480_dsc00385.jpg" border="0" alt="dsc00385.jpg" title=""><br>
        dsc00385.jpg</a>
        </div>
    <div class="photo">
        <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=350&amp;Itemid=67">
        <img src="http://rmlsa.com/images/stories/easygallery/thumbs/27/1357703494_dsc00386.jpg" border="0" alt="dsc00386.jpg" title=""><br>
        dsc00386.jpg</a>
        </div>
    <div class="photo">
        <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=351&amp;Itemid=67">
        <img src="http://rmlsa.com/images/stories/easygallery/thumbs/27/1357703509_dsc00388.jpg" border="0" alt="dsc00388.jpg" title=""><br>
        dsc00388.jpg</a>
        </div>
        <br clear="all">          <div class="photo">
        <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=352&amp;Itemid=67">
        <img src="http://rmlsa.com/images/stories/easygallery/thumbs/27/1357703521_dsc00389.jpg" border="0" alt="dsc00389.jpg" title=""><br>
        dsc00389.jpg</a>
        </div>
    <div class="photo">
        <a href="http://rmlsa.com/index.php?option=com_easygallery&amp;act=photos&amp;cid=353&amp;Itemid=67">
        <img src="http://rmlsa.com/images/stories/easygallery/thumbs/27/1357703542_dsc00392.jpg" border="0" alt="dsc00392.jpg" title=""><br>
        dsc00392.jpg</a>
        </div>
        <br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all"><br clear="all">
            </div><br />

{% endblock %}