{% extends 'home/base.html' %}
        
{% block title %}2014 RMLSA Videos{% endblock %}

{% block inset_graphic %}<div class="smaller_inset"></div>{% endblock %}

{% block content %}
    <div class="contentheading" >2014 RMLSA Videos</div>
    <div class="gallery_video">        
        <iframe src="//www.youtube.com/embed/Ul3NEYQuZJ4" frameborder="0" height="315" width="560"></iframe>
    </div>
    <div class="gallery_video">
        <iframe src="//www.youtube.com/embed/g83tKVlVbJg" frameborder="0" height="315" width="560"></iframe>
    </div>
    <div class="gallery_video">
        <iframe src="//www.youtube.com/embed/tC1WrJ8zMtk" frameborder="0" height="315" width="560"></iframe>
    </div>
    <div class="gallery_video">
        <iframe src="//www.youtube.com/embed/yna3EKBuS7M" frameborder="0" height="315" width="560"></iframe>
    </div>
    <div class="gallery_video">
        <iframe src="//www.youtube.com/embed/9xoZu4t0s3Q" frameborder="0" height="315" width="420"></iframe>
    </div>
    <div class="gallery_video">
        <iframe src="//www.youtube.com/embed/cEQJTq0F0zY" frameborder="0" height="315" width="420"></iframe>
    </div>
    <div class="gallery_video">
        <iframe src="//www.youtube.com/embed/VrDMlYSFI5U" frameborder="0" height="315" width="420"></iframe>
    </div>
    <div class="gallery_video">
        <iframe src="//www.youtube.com/embed/2Gx4iE99pNI" frameborder="0" height="315" width="560"></iframe>
    </div>
{% endblock %}        