{% extends 'home/base.html' %}

{% block title %}RMLSA Videos Archive{% endblock %}

{% block inset_graphic %}<div class="smaller_inset"></div>{% endblock %}

{% block content %}
<div class="contentheading">2014 RMLSA Videos</div>
<div class="gallery_video">
    <iframe src="//www.youtube.com/embed/Ul3NEYQuZJ4" frameborder="0" height="315" width="560"></iframe>
</div>
<div class="gallery_video">
    <iframe src="//www.youtube.com/embed/g83tKVlVbJg" frameborder="0" height="315" width="560"></iframe>
</div>
<div class="gallery_video">
    <iframe src="//www.youtube.com/embed/tC1WrJ8zMtk" frameborder="0" height="315" width="560"></iframe>
</div>
<div class="gallery_video">
    <iframe src="//www.youtube.com/embed/yna3EKBuS7M" frameborder="0" height="315" width="560"></iframe>
</div>
<div class="gallery_video">
    <iframe src="//www.youtube.com/embed/9xoZu4t0s3Q" frameborder="0" height="315" width="420"></iframe>
</div>
<div class="gallery_video">
    <iframe src="//www.youtube.com/embed/cEQJTq0F0zY" frameborder="0" height="315" width="420"></iframe>
</div>
<div class="gallery_video">
    <iframe src="//www.youtube.com/embed/VrDMlYSFI5U" frameborder="0" height="315" width="420"></iframe>
</div>
<div class="gallery_video">
    <iframe src="//www.youtube.com/embed/2Gx4iE99pNI" frameborder="0" height="315" width="560"></iframe>
</div>
<div class="contentheading">2013 RMLSA Videos</div>
<div class="gallery_video">
    <iframe src="https://www.youtube.com/embed/ZZTe81RXCe8" frameborder="0" height="315" width="420"></iframe>
</div>
<div class="gallery_video">
    <iframe src="https://www.youtube.com/embed/Y_uBeCIs5Hc?list=UUU02cyIk5IWJFLmpvAX833g" frameborder="0" height="315"
        width="560"></iframe>
</div>
<div class="gallery_video">
    <iframe src="https://www.youtube.com/embed/y7LjM2phYI0" frameborder="0" height="315" width="420"></iframe>
</div>
<div class="gallery_video">
    <iframe src="https://www.youtube.com/embed/v4OBXNxAAt8" frameborder="0" height="315" width="560"></iframe>
</div>
<div class="gallery_video">
    <iframe src="https://www.youtube.com/embed/9NE4xIbwJ30" frameborder="0" height="315" width="560"></iframe>
</div>
<div class="gallery_video">
    <iframe src="https://www.youtube.com/embed/hRnoGM-yGK8" frameborder="0" height="315" width="420"></iframe>
</div>
<div class="gallery_video">
    <iframe src="https://www.youtube.com/embed/Z_A3Rhh0dpE" frameborder="0" height="315" width="420"></iframe>
</div>
<div class="gallery_video">
    <iframe src="https://www.youtube.com/embed/A_O1HrulsOY" frameborder="0" height="315" width="560"></iframe>
</div>
<div class="gallery_video">
    <iframe src="https://www.youtube.com/embed/HkgZxlNfcGY" frameborder="0" height="315" width="560"></iframe>
</div>
<div class="gallery_video">
    <iframe src="https://www.youtube.com/embed/uRmaHGZO3d4" frameborder="0" height="315" width="560"></iframe>
</div>
<div class="gallery_video">
    <iframe src="https://www.youtube.com/embed/4R6ttyylQ6U" frameborder="0" height="315" width="560"></iframe>
</div>
<div class="gallery_video">
    <iframe src="https://www.youtube.com/embed/jpuPMfsUEAw" frameborder="0" height="315" width="420"></iframe>
</div>
<div class="gallery_video">
    <iframe src="https://www.youtube.com/embed/E9sU0nyPjgs" frameborder="0" height="315" width="560"></iframe>
</div>
<div class="gallery_video">
    <iframe src="https://www.youtube.com/embed/eCr7xL5lzoM" frameborder="0" height="315" width="560"></iframe>
</div>
<div class="gallery_video">
    <iframe src="https://www.youtube.com/embed/YAtIXjYCu9w" frameborder="0" height="315" width="420"></iframe>
</div>
<div class="gallery_video">
    <iframe src="https://www.youtube.com/embed/pS7FK43H5LQ" frameborder="0" height="315" width="420"></iframe>
</div>
<div class="gallery_video">
    <iframe src="https://www.youtube.com/embed/y6En8COZl8c" frameborder="0" height="315" width="420"></iframe>
</div>
<div class="gallery_video">
    <iframe src="https://www.facebook.com/video/embed?video_id=10151346145435964" frameborder="0" height="315"
        width="420"></iframe>
</div>
<div class="gallery_video">
    <iframe src="https://www.facebook.com/video/embed?video_id=584785098213150" frameborder="0" height="315"
        width="420"></iframe>
</div>
<div class="gallery_video">
    <iframe src="https://www.youtube.com/embed/E99Gof9QgE8" frameborder="0" height="315" width="420"></iframe>
</div>
<div class="contentheading">2012 RMLSA Season in Review</div>
<div class="gallery_video">
    <iframe src="https://www.youtube.com/embed/3ukBR8BLffU" frameborder="0" height="315" width="420"></iframe>
</div>
{% endblock %}