{% extends 'home/base.html' %}

{% block title %}Videos+{% endblock %}

{% block inset_graphic %}<div class="smaller_inset"></div>{% endblock %}

{% block content %}
    <div class="contentheading">RMLSA Videos</div>
    <ul id="no_bullet">
        <li><a href="{% url 'gallery:videos' 2014 %}">2014 RMLSA Videos</a></li>
        <li><a href="{% url 'gallery:videos' 2013 %}">2013 RMLSA Videos</a></li>
        <li><a href="{% url 'gallery:videos' 2012 %}">2012 RMLSA Season in Review</a></li>
    </ul>
{% endblock %}