{% extends 'home/base.html' %}
        
{% block title %}Contact{% endblock %}

{% block inset_graphic %}<div class="smaller_inset"></div>{% endblock %}

{% block content %}
    <div class="contentheading">Contact us</div>
    <h3>Send us a message</h3>
    <p>We will respond as soon as we can.</p>

    <form class="indented-form" action="{% url 'home:contact' %}" method="post">

            {% csrf_token %}
            <div id="error">{{ form.from_email.errors }}</div>
            <label>Your email address:</label>
            {{ form.from_email }}

            <div id="error">{{ form.subject.errors }}</div>
            <label>Subject:</label>
            {{ form.subject }}

            <div id="error">{{ form.message.errors }}</div>
            <label>Message:</label>
            {{ form.message }}
        <br>
        <input class="btn" type="submit" value="Send">
    </form>



{% endblock %}