{% extends 'home/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div id="component">
    <div class="padding">
        <div class="moduletable lil-page-container">
            <h3>Welcome to the RMLSA</h3>
            <p> {{ welcome_message.text|linebreaks }} </p>

            {% comment %}RMLSA events{% endcomment %}

            <div class="moduletable" style="margin-top: 50px; margin-bottom: 100px">
                {% if past_events %}
                <h3>Past RMLSA Events</h3>
                <table id="eventtable" class="events-table" width="100%" cellspacing="1" cellpadding="3">
                    <tr>
                        <th>Date</th>
                        <th>Title</th>
                        <th>Track</th>
                        <th>City</th>
                        <th>Category</th>
                        {% if winners %}
                        <th>Winner</th>
                        {% endif %}
                    </tr>
                    {% for event in past_events reversed %}
                    <tr>
                        <td>{{ event.date }}</td>
                        <td>{{ event }}</td>
                        <td>{{ event.venue }}</td>
                        <td>{{ event.venue.city }}</td>
                        <td>{{ event.car_type|default:"" }}</td>
                        {% if winners %}
                        <td id="winners">{{ event.winner|default:"" }}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
                {% endif %}

                {% if rmlsa_events %}
                <h3>Upcoming RMLSA Events</h3>
                <table id="eventtable" class="events-table" width="100%" cellspacing="1" cellpadding="3">
                    <tr>
                        <th>Date</th>
                        <th>Title</th>
                        <th>Track</th>
                        <th>City</th>
                        <th>Category</th>
                    </tr>
                    {% for event in rmlsa_events %}
                    <tr>
                        <td>{{ event.date }}</td>
                        <td>{{ event }}</td>
                        <td>{{ event.venue }}</td>
                        <td>{{ event.venue.city }}</td>
                        <td>{{ event.car_type|default:"" }}</td>
                    </tr>
                    {% endfor %}
                </table>
                {% endif %}

                <p>To view the complete RMLSA Schedule <a href="{% url 'home:schedule' %}">click here</a>.</p>
            </div>

            {% if news_articles %}
            <div class="contentheading" id="article-content"> Articles </div>

            <!-- top paginator -->
            {% include 'home/pagination.html' %}

            {% for a in news_articles %}
            <div class="article-box">
                <p style="float: right;"><i>Published on {{ a.pub_date }}</i></p>
                <h2> {{ a.title }} </h2>
                {% if a.subtitle %}<h4>{{ a.subtitle }}</h4>{% endif %}

                <div style="padding: 1em 1em 1em 0;">

                    {% with a.articleimage_set.all|first as image %}
                    {% if image %}
                    <img class="article-image" src="{{ MEDIA_URL }}{{ image.image.url }}" title="{{ image.name }}">
                    {% endif %}
                    {% endwith %}

                    <!-- Article text contents -->
                    <p class="article-text-content">{{ a.text|linebreaks }}</p>
                    <br clear="left" /> <!-- This will help manage the text wrapping -->

                </div>

                {% with a.articleurl_set.all as urls %}
                {% if urls %}
                <div style="clear: both;">
                    <h3>Links</h3>
                    <ul id="no_bullet">
                        {% for url in urls %}
                        <li><a href="{{ url.url }}">{{ url.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% endwith %}

                {% with a.youtubeembedlink_set.all as yt_set %}
                {% if yt_set %}

                <h3>Youtube videos</h3>
                {% for yt_video in yt_set %}
                {{ yt_video.link|safe }}<br><br>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
            {% endfor %}
            {% else %}
            {% endif %}

            <!-- bottom page buttons -->
            {% include 'home/pagination.html' %}
        </div>
    </div>
</div>
{% endblock %}