<div class="pagination">
    <div>
        {% if news_articles.has_previous %}
        <a class="page-btn" href="?page=1#article-content">&laquo; First</a>
        {% else %}
        <span class="page-btn page-btn-inactive">&laquo; First</span>
        {% endif %}
    </div>
    <div>
        {% if news_articles.has_previous %}
        <a class="page-btn" href="?page={{ news_articles.previous_page_number }}#article-content">Previous</a>
        {% else %}
        <span class="page-btn page-btn-inactive">Previous</span>
        {% endif %}
    </div>
    <div>Page:</div>
    <div>{{ news_articles.number }} of {{ news_articles.paginator.num_pages }}.</div>
    <div>
        {% if news_articles.has_next %}
        <a class="page-btn" href="?page={{ news_articles.next_page_number }}#article-content">Next</a>
        {% else %}
        <span class="page-btn page-btn-inactive">Next</span>
        {% endif %}
    </div>
    <div>
        {% if news_articles.has_next %}
        <a class="page-btn" href="?page={{ news_articles.paginator.num_pages }}#article-content">Last&raquo;</a>
        {%else%}
        <span class="page-btn page-btn-inactive">Last&raquo;</span>
        {%endif%}
    </div>
</div>