{% extends 'home/base.html' %}

{% load static %}

{% block title %}Rules{% endblock %}

{% block inset_graphic %}<div class="smaller_inset"></div>{% endblock %}

{% block content %}
{% for rule in rules %}
<div id="component">
  <br>
  <h1>Rules</h2>
    <br>
    <br>
    <br>
    <div class="contentheading">{{ rule.name }}</div>
    <div class="padding">
      <a class="btn" href="{{ MEDIA_URL }}{{ rule.rules_file }}" download>Download {{ rule.name }}</a>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="padding">
      <embed src="{{ MEDIA_URL  }}{{ rule.rules_file }}" width="100%" height="800px" type='application/pdf'>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
{% endfor %}
{% endblock %}